.explane-container {
  grid-template-columns: 1fr 1fr;
  place-items: self-end;
  padding: var(--space-400) var(--space-1800);
  gap: var(--space-1200);
}

.explane-title {
  font-size: 48px;
  font-weight: 600;
  font-family: var(--ff-primary);
  line-height: 1.1;
  letter-spacing: var(--ls-tight);
}

.explane-p {
  
  color: var(--grey-500);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: var(--ls-normal);
  max-width: fit-content;
}

.man-eat-img {
  width: 450px;
}

.explane-text {
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
}
