.explane-container {
  padding: var(--space-400) var(--space-1800);
  justify-content: center;
  align-items: center;
  gap: var(--space-1600);
}

.explane-title {
  font: var(--tp-2);
}

.explane-p {
  color: var(--grey-500);
  font: var(--tp-6-regular);
}

.man-eat-img {
  width: 450px;
}

.explane-text {
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
  margin-top: 8rem;

  width: 465px;
}
