* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
}

.container {
  width: min(1024px);
  margin-inline: auto;
}


/* .snap {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
} */
.panel {
  min-height: 60vh;
  /* scroll-snap-align: start; */
  position: relative;
  display: flex;
  align-items: center;
}

.bg-gradient {
  position: absolute;
  inset: 0;
  background: var(--gradient-1);
  opacity: 0.6;
  pointer-events: none;
  z-index: -1;
  margin-right: 130px;
}

