.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-400);
}

.tip-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 320px; 
}

.tips-p {
    margin: 0px 0px;
    color: var(--grey-500);
    width: 365px;
}

.tips-header{
margin: var(--spacing-600) 0 var(--spacing-300);
color: var(--blue-900);
}

.tip-icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
