:root {
  /* COLORS  */

  --white: #ffffff;
  --black: #000000;

  --grey-500: #5e6e85;
  --grey-300: #acc1de;

  --blue-900: #253347;
  --blue-500: #345ff6;
  --blue-300: #b3d3f1;
  --blue-100: #e1e7fe;

  --gradient-1: linear-gradient(90deg, #d6fcfe 0%, #d6eafe 100%);

  /* ------------------------------------------------ */
  /* ------------------------------------------------ */

  /* SPACING  */
  --space-0: 0px;
  --space-100: 8px;
  --space-200: 16px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;
  --space-600: 48px;
  --space-700: 56px;
  --space-900: 72px;
  --space-1100: 88px;
  --space-1200: 96px;
  --space-1300: 104px;
  --space-1600: 128px;
  --space-1800: 144px;

  /* ------------------------------------------------ */
  /* ------------------------------------------------ */

  /* THYPOGRAPHY  */
  --ff-primary: 'Inter', sans-serif;

  --tp-1: 600 64px/1.1 var(--ff-primary);
  --tp-2: 600 48px/1.1 var(--ff-primary);
  --tp-3: 600 32px/1.1 var(--ff-primary);
  --tp-4: 600 24px/1.2 var(--ff-primary);
  --tp-5: 600 20px/1.2 var(--ff-primary);

  --tp-6-semibold: 600 16px/1.5 var(--ff-primary);
  --tp-6-regular: 400 16px/1.5 var(--ff-primary);

  --tp-7-bold: 700 14px/1.5 var(--ff-primary);
  --tp-7-regular: 400 14px/1.5 var(--ff-primary);

  --ls-tight: -0.05em;
  --ls-normal: 0em;
}
